html
  body
   div
    h3(style={margin: 30}) Home Page
    form#new-tweet(action='/create' method='PUT')
      fieldset
        legend New Tweet
        div
          <br />
          label(for='user') Username: &nbsp;
          input(name='user', type='text', placeholder=' your username', required='', autofocus='')
        div
          <br />
          label(for='tweet') tweet: &nbsp;
          input(name='tweet', type='text', required='', autofocus='')
        div
          <br /> &nbsp;
          input(name='create', type='submit', value='Create')
    ul
      h4 Tweets <br />
      each tweet in tweets
        li
          form.update-tweet(action=tweet.id method='PUT')
            label(for='user' style={color: tweet.colour}) Username: &nbsp #{tweet.user} &nbsp
            input(name='user', type='text', placeholder=' update username', autofocus='')
            <br /><br />
            label(for='tweet' style={color: tweet.colour}) tweet: #{tweet.tweet} &nbsp;
            input(name='tweet', type='text', placeholder=' update tweet', autofocus='')
            <br /><br />
            input(name='update', type='submit', value="Update")
          a(href=tweet.id style={color: tweet.colour})  id: #{tweet.id} <br /> <br />
          form.delete-tweet(action=tweet.id method='DELETE')
            input(name='delete', type='submit', value="Delete")
          <br /><br />
      else
        li There are no tweets
